body {
  margin: 0;
  font-family: "Montserrat","Syne";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282828;
}

code {
  font-family:"Montserrat","Syne";
}
